# compiled output

.vscode
node_modules
.next
.github

npm-debug.log

# code formatter

.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc

# test

jest.config.js

# docker

Dockerfile
docker-compose.yml
.dockerignore
